@model Edification.Models.course_data


<div class="Container">

    <h1>Php</h1>
    <br />
    <br />
    <br />
    <h2>Php Five Main Points</h2>

    <h4>
        1) : Purpose: PHP is a server-side scripting language primarily used for web development. It is embedded in HTML and executed on the server to generate dynamic web pages.



    </h4>
    <br />
    <h4>2) : Syntax: PHP syntax is similar to C, Java, and Perl with its roots in C-style syntax. It is designed to be easy to learn and use for developers familiar with other programming languages.</h4>
    <br />
    <h4>3) :  Features: PHP supports a wide range of features crucial for web development, including database integration (MySQL, PostgreSQL, etc.), session management, XML parsing, and more. It also has extensive standard libraries and frameworks (like Laravel, Symfony) that simplify complex tasks.</h4>
    <br />
    <h4>4) :  Popularity: PHP is one of the most widely used languages for web development, powering popular content management systems (CMS) like WordPress, Drupal, and Joomla, as well as numerous other websites and applications worldwide.</h4>
    <br />
    <h4>5) :  Popularity: PHP is one of the most widely used languages for web development, powering popular content management systems (CMS) like WordPress, Drupal, and Joomla, as well as numerous other websites and applications worldwide.</h4>

    <br />
    <br />
    <br />
    <div class="container">
        <h1 class="text-center m">Select Course Php</h1>
        <form method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">User Name</label>
                <input type="text" class="form-control" asp-for="datatable.CourseName" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">user Email</label>
                <input type="email" class="form-control" asp-for="datatable.CourseEmail" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">User Password</label>
                <input type="password" class="form-control" asp-for="datatable.CoursePassword" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Courses Joining</label>
                <input type="date" class="form-control" asp-for="datatable.CoursesJoining" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <br />
        <br />


    </div>
