@model Edification.Models.course_data

<div class="Container">

    <h1>Python</h1>
    <br />
    <br />
    <br />
    <h2>Python Five Main Points</h2>

    <h4>
        1) : High-level Language: Python is a high-level programming language, meaning it abstracts many technical details from the programmer and provides constructs that are easy to use and understand.

    </h4>
    <br />
    <h4>2) :  Interpreted and Interactive: Like JavaScript, Python is an interpreted language, which means it executes code line by line at runtime. It also supports interactive mode, where you can directly execute commands and see results immediately.</h4>
    <br />
    <h4>3) :  General-Purpose: Python is a versatile language used for a wide range of applications, including web development, scientific computing, data analysis, artificial intelligence, and more. Its simplicity and readability make it suitable for both beginners and experienced programmers alike.</h4>
    <br />
    <h4>4) :  Dynamic Typing: Python is dynamically typed, meaning you don't need to declare the type of variables explicitly. This allows for rapid development and makes the language flexible when dealing with different types of data.</h4>
    <br />
    <h4>5) :  Rich Standard Library: Python comes with a comprehensive standard library that provides modules and packages for tasks such as file I/O, networking, regular expressions, data manipulation, and more. This reduces the need for external libraries for many common programming tasks.</h4>
    <br />
    <br />
    <br />
    <div class="container">
        <h1 class="text-center m">Select Course Python</h1>
        <form method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">User Name</label>
                <input type="text" class="form-control" asp-for="datatable.CourseName" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">user Email</label>
                <input type="email" class="form-control" asp-for="datatable.CourseEmail" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">User Password</label>
                <input type="password" class="form-control" asp-for="datatable.CoursePassword" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Courses Joining</label>
                <input type="date" class="form-control" asp-for="datatable.CoursesJoining" aria-describedby="emailHelp">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <br />
        <br />



    </div>
